body {
    background-color: rgb(243, 243, 243);
    font-family: sans-serif;
  }
  
  /* -----------------------------nav start----------------------------------------- */
  #nav{
    height:60px;
    width:100%;
    background-color:rgb(46,49,146) ;
    display: flex;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    }
    #nav > #div1{
    width:70%;
    height:80%;
    margin: 5px;
    display: flex;
    }
    #nav > #div2{
    width:30%;
    height:80%;
    margin: 5px;
    display: grid;
    grid-template-columns: 25% 15% 15% 20% 20%;
    grid-template-rows: 1fr;
    grid-gap: 3px;
    }
    #nav > #div2>div{
    display: block;
    text-align: center;
    }
    #nav > #div1 > .search{
    width:80%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    }
    #nav > #div1>.search>div{
    height: 75%;
    width:80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:5px 15px;
    }
    #nav > #div1>.search>div>input{
    width:60%;
    height:100%;
    border:0;
    }
    #nav > #div1>.search>.sbar>#loc>button {
        height: 36px;
    }
    #nav > #div1>.search>div>input:focus{
        outline: none;
    }
    #nav > #div1>.search>div>button>i{
    margin-left:0px;
    
    }
    dropdown
    .search>div>button{
    height:100%;
    font-weight: bold;
    width:20%;
    text-align: center;
    border:0px;
    background-color: white;
    justify-content: space-around;
    }
    .h_logo>a>div{
    height:100%;
    margin: -5px -50px 0px 10px;
    transform: scale(.7);
    overflow: hidden;
    width: 220px;
    }
    #div2>div:hover>a>i{
    color:white;
    }
    
    #div2>div>a>i{
    color:rgb(192, 188, 188);
    }
    .navmenu{
    color:white;
    margin:auto;
    font-size: small;
    margin-top: 8px;
    position:relative;
    }
    .navmenu1{
    color:white;
    margin:auto;
    font-size: small;
    margin-top: 8px;
    }
    .navmenu2{
    color:white;
    margin:auto;
    font-size: small;
    margin-top: 8px;
    position:relative;
    }
    .navmenu3{
    color:white;
    margin:auto;
    font-size: small;
    margin-top: 8px;
    }
    #optSign{
    color:white;
    background-color:rgb(46,49,146) ;
    border:0px;
    margin-top: 5px;
    }
    #div1>.h_logo>img{
    width:100%;
    }
    /* #gsear{
    background-color:rgb(0,166,153) ;
    color:white;
    font-size:medium;
    font-weight: lighter;
    width:15%;
    height: 100%;
    border:0px;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    } */
    /* #gsear>i{
    color:rgb(240, 232, 232);
    } */
    /* #gsear:hover{
    background-color:rgb(54, 124, 118);
    } */
    /* .search>div>.micro{
    width:40px;
    color:black;
    } */
    /* .micro>i{
    color: blue;
    margin-top: 10px;
    position: relative;
    } */
    /* .micro{
    background-color: white;
    text-align: center;
    position: relative;
    height:100%;
    width: 100%;
    } */
    /* .micro>.down{
    background-color: black;
    color: white;
    width:100px;
    font-size: 15px;
    padding: 5px;
    position:absolute;
    border-radius: 5px;
    margin-top: 35px;
    margin-left: -65px;
    display:none;
    } */
    /* .down>a{
    text-decoration: none;
    color:white;
    }
    .micro:hover .down{
    display: block;
    }  */
    .search>.dis{
    border:1px solid white;
    padding:0 1px;
    border-radius: 2px;
    height:70%;
    margin:auto;
    margin-left: 15px;
    background-color: white;
    color:rgb(46,49,146) ;
    font-weight: bolder;
    font-size: 15px;  
    
    }
    .search>.dis a{
    text-decoration:none;
    }
    .dis:hover {
    filter:brightness(150%);
    position: relative;
    }
    #loc{
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    background-color:white;
    border-right: 1px solid gray;
    }
    #loc>button>i{
    padding: 5px;
    color:rgb(184, 178, 178);
    }
    #loc>button{
    background-color: white;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    width:100%;
    height:100%;
    border:0;  
    }
    .drop a{
    text-decoration: none;
    color:black
    }
    .drop{
    margin:10px;
    padding: 10px;
    text-align: left;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: white;
    }
    .drop>table{
      width:100%;
    }
    #dropdown a{
      font-size: small;
    }
    #dropdown tr th{
      font-size: small;
    }
    #dropdown .t1{
      height: 270px;
      width:100%;
    }
    .drop a i{
       color:rgb(185, 185, 185);
       padding-right:5px;
    }
    #dropdown .t2{
      height: 270px;
      width:100%;
    }
    #dropdown .t2 .th2{
      padding-left: 30px;
    }
    #dropdown .t2 .th2 a{
      padding-left: 40px;
    } 
    
    #dropdown{
    border-radius: 5px;
    width:40%;
    background-color: white;
    height:auto;
    margin:auto;
    box-sizing: border-box;
    position: absolute;
    right:100px;
    /* border: 1px solid red; */
    display: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }
    .drop a:hover{
    background-color: rgb(223, 219, 219);
    }
    .add{
    text-decoration: underline;
    font-weight: bold;
    }
     #dropdown .add1 a {
      text-decoration: underline;
      font-weight: bold;
      padding-left: 70px;
      }
    .foot{
    width:100%;
    height: 60px;
    /* text-align: center; */
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(235, 229, 229);
    /* border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; */
    }
    .foot>a>i{
    color:skyblue;
    margin-top: 20px;
    }
    .foot>h3{
      margin-top: 20px;
    }
    .foot>a>i:hover{
    background-color: skyblue;
    color:white;
    }
    .dropdown>.drop>table{
    margin:auto;
    width:90%;
    text-align: justify;
    }
    .menu1:hover #dropdown{
    opacity: 1;
    display:block;
    }
    .help{
    border:1px;
    width:250px;
    font-size: small;
    height: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 5px;
    padding: 3px;
    background-color: white;
    text-align: justify;
    display: none;
    margin-left: -50px;
    }
    .help p:hover{
    background-color:rgb(231, 231, 231);
    }
    .help>div{
    display: flex;
    margin-left: -8px;
    /* margin-top: -20px;
    margin-bottom: -20px; */
    justify-content: space-around;
    }
    .help p a{
      text-decoration: none;
      color:black;
      font-weight: bold;
    }
    .help p a {
      text-align: center;
    }
    .help>p{
    margin-left: 10px;
    margin-top: 10px;
    }
    .help>h4{
    margin-left: 30px;
    }
    .help>.helphead{
    font-size: small;
    color:grey;
    margin-top:10px;
    }
    .help p i{
    padding:5px;
    color:grey;
    }
    .menu2:hover .help{
    display: block;
    }
   
    .signPop{
    width:250px;
    height: 600px;
    height: 500px;

    font-size: small;
    border-radius: 5px;
    background-color: white;
    margin-left: -160px;
    margin-top: -20px;
    display: none;
    text-align: justify;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }

    #up #optSign{
      margin-top: 5px;
    }

   .signPop .sig{
     padding: 5px;
     margin-top: -5px;
     margin:auto;
     height:max-content;
   }
   .signPop .sig1 a{
     text-decoration: none;
     font-size: 13px;
     margin-top: 12px;
     margin-left: 3px;
   }
   .signPop .sig1 {
     display: flex;
   }
   .signPop .sig1 p{
     font-size: 13px;
     color: rgb(136, 132, 132);
   }
    .signPop .sig1 a:hover{
      text-decoration: underline;
    }
   .signPop .sig button{
     color: white;
     border: 0;
     background-color: rgb(0,166,153);
     border-radius: 3px;
    
     padding: 3px 15px; 
   }
    .signPop>div{
    margin-left: 25px;
    margin-top: 30px;
    }
    .signPop div .profile a i{
    padding-right: 0px;
    color:grey;
    }
    .signPop .profile{
      margin-top: 0px;
      padding-bottom: 5px;
    }
    .signPop .profile a{
      margin-left: -15px;
    }
    .signPop .profile1 {
      height:60px;
      margin:auto;
      text-align: centre;
    }
    .signPop .profile1 a{
      margin-left: 10px;
    }
    .signPop .profile1 a i{
      color:grey;
    }
  
    .signPop>div:nth-child(1){
      padding-top: 10px;
      height:40px;
      text-align: center;
      font-size: small;
    }
    .signPop i{
      padding-right: 5px;
    }
    .signPop>div:nth-child(1)>div{
      width:fit-content;
      font-size: x-small;
      margin-bottom: 0;
    }
    .signPop .las{
      margin:auto;
      text-align: center;
      margin-top: 20px;
    }
    .signPop .profile i{
      padding-top: 10px;
      color:rgb(168, 168, 168)
    }
  
    .signPop>div>p>a{
    text-decoration: none;
    color:black;
    }
    .signPop>div>.p1,.p2{
    font-size:x-small;
    }
    
    .signPop>div>p:hover{
    background-color: rgb(204, 203, 203);
    }
    .menu3:hover .signPop{
    display: block;
    }
    .btnInpt{
    width:fit-content;
    padding:5px;
    border-radius: 5px;
    display:none;
    background-color: white;
    }
    .sbar:hover .btnInpt{
    display: block;
    }
  
  /* -----------------------------------------2 boxex feedback--------------------------------------------- */

  #feedback {
    background-image: url(https://my.imimg.com/gifs-new/headerbg03.jpg);
    background-size: cover;
    /* margin-top: 20px; */
    padding-top: 50px;
    height: 300px;
  }

    #feedback >.search{
    height: 60%;
    width:70%;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 35% 50%;
    justify-content: space-around;
    margin:5px 210px;
    text-align: center;
    }
    .search .sbar1{
      margin-top: -50px;
      width: 100%;
      padding-top: 30px;
      color:white;
    }
    .search .sbar1 h6 span{
      font-weight: bold;
      color:white;
      background-color: transparent;
    }
    .search > .sbar1 {
      font-size: xx-large;
    }
    .search > .sbar1 > h6{
      
      font-weight: 100;
    }

    #loc .link1 button{
      height: 100%;
      font-size: large;
      font-weight: bold;
      color:white;
      width:100%;
      background-color: rgb(0,166,153);
      border: 0;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
    #loc .link1 button:hover{
      background-color: rgb(17, 102, 95);
    }
    
    #loc .link1 button i{
      padding-right: 10px;
      color:white;
    }
    #loc .link1{
      width:130px;

    }
   
    #loc{
      background-color: transparent;
      display: flex;
      padding-left: 120px;
    }

    #loc>.inpt{
      width:50%;
      height: 48.6px;
      margin-left: -1px;
      border:0px;
      margin-top: 0.1px;
    }
    #loc >.link i{
      padding-left: 25px;
    }
    #loc >.link  {
      width:100px;
      display: inline-block;
      background-color: rgb(226, 241, 226);
    }
    #feedback>.search>.sbar>.inpt{
    width:500px;
    height:50px;
    border:0;
    border: 3px solid red;
    }
    #feedback > .search > .sbar> #loc > button {
        height: 50px;
        width: 200px;
      
    }
    #feedback >.search>div>input:focus{
        outline: none;
        
    }
    #feedback >.search>div>button>i{
    margin-left:0px;
    
    } */

  /* --------------------------------------------2nd bar start----------------------------------------------- */
  
  * {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
  }
  
  #menuBar {
    height: 100px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
  }
  #menuBar > ul {
    display: inline-flex;
    width: 100%;
    z-index: 1;
  }
  #menuBar > ul > li {
    display: flex;
    width: 120px;
    margin: 15px;
    padding: 0 30px;
  }
  #menuBar > ul > li > a {
    text-decoration: none;
    display: flex;
  }
  #menuBar > ul > li > a > i {
    margin-right: 10px;
    font-size: 40px;
    color: rgb(27, 167, 154);
  }
  #menuBar > ul > li > a > i:last-child {
    margin-left: 30px;
    font-size: 40px;
    color: rgb(154, 164, 164);
    padding-bottom: 1px;
  }
  #menuBar > ul > li > a > p {
    font-size: 15px;
    color: black;
    /* border: 1px solid red; */
  }
  .jBar {
    display: none;
  }
  #menuBar > ul > li > a:hover {
    font-weight: bolder;
    background-color: rgb(243, 243, 243);
    transition: all 0.3s ease;
    z-index: 1;
  }
  #menuBar > ul > li:hover > .jBar {
    display: flex;
    position: absolute;
    height: 500px;
    left: 20px;
    box-sizing: border-box;
    margin-top: 50px;
    margin-left: -15px;
    background-color: rgb(243, 243, 243);
    width: 100%;
     transition: all 0.3s ease;
     z-index: 1;
  }
  #menuBar > ul > li:hover > .jBar > ul > li {
    width: 210px;
    padding: 8px;
  }
  #menuBar > ul > li:hover > .jBar > ul > li:last-child {
    text-decoration: underline;
  }
  #menuBar > ul > li > .jBar > ul > li:hover,
  p:hover {
    color: rgb(65, 107, 204);
  }
  #menuBar > ul > li > .jBar > ul > li {
    display: flex;
  }
  /* <!-- ------------------------------------------------------------------------Main Body Starts----------------------------------------------------- --> */
  body {
    background-color: #f3f3f3;
    }
    .container002 {
    width: 95%;
    margin: 10px auto 25px;
    border-top: 3px solid rgb(63, 65, 219);
    background-color: white;
    padding: 15px;
    }
    .contentdiv > p {
    color: rgb(79, 84, 88);
    margin: 15px;
    /* border: 1px solid red; */
    }
    .contentdiv > p:hover {
      text-decoration:underline;
      color: blue;
      cursor: pointer;
    }
    .contentdiv > h3:hover{
      text-decoration:underline;
      color: blue;
      cursor: pointer;
    }
    .maindiv {
    width: 100%;
    display: flex;
    /* border: 1px solid  */
    }
    .containerdiv > a > h1 {
      margin-bottom: 15px;
      color:rgb(0,0,0);
    }
    .containerdiv > a{
  
      text-decoration: none;
    }
    .leftdiv {
    width: 22%;
    /* height: 100%; */
    position: relative;
    background-image: linear-gradient(
        to bottom,
        rgb(7, 5, 5),
        rgb(29, 29, 28)
    );
    }
    /* .leftdivimage {
    height: 100%;
    } */
    .leftdiv > img {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    }
    .rightdiv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 215px);
    grid-gap: 15px;
    width: 78%;
    height: 100%;
    margin-left: 20px;
    }
    .gridonlytwo {
    grid-template-rows: repeat(2, 215px);
    }
    .gridonlyless {
    grid-template-rows: repeat(2, 170px);
    }
    .rightinner {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    /* height: 200px; */
    
    }
    .rightinner >.contentdiv> h3 {
    margin: 15px;
    }
    .imagediv {
    /* width: 28%; */
    margin-right: 10px;
    }
    .imgdiv {
    width: 100%;
    margin-top: 40px;
    height: 60%;
    }
    .contentdiv {
    line-height: 100%;
    font-size: 14px;
    }
    .leftinner > button {
    padding: 12px;
    outline: none;
    margin-top: 10px;
    border: none;
    color: white;
    border-radius: 7px;
    width: 120px;
    background-color: #19a598;
    }
    .leftinner {
    position: absolute;
    bottom: 30px;
    /* margin-top: 65%; */
    margin-left: 20px;
    /* z-index: 1; */
    color: white;
    background-color: transparent;
    line-height: 30px;
    font-size: small;
    }
    .leftinner > h3:hover {
      text-decoration: underline;
      text-decoration-thickness: 3px;
      cursor: pointer;
    }
    .fooddiv {
    position: relative;
    width: 22%;
    background-image: linear-gradient(
        to bottom,
        rgb(24, 22, 22),
        rgb(29, 29, 28)
    );
    }
    
    .fooddiv > img {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    }
    
    .fooddiv > .leftinner {
      position: absolute;
      bottom: 30px;
      line-height: 30px;
      z-index: 1;
      color: white;
      background-color: transparent;
      font-size: small;
    }
    .apprealdiv {
    position: relative;
    width: 22%;
    background-image: linear-gradient(
        to bottom,
        rgb(24, 22, 22),
        rgb(29, 29, 28)
    );
    }
    
    .apprealdiv > img {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    }
    
    .apprealdiv > .leftinner {
      position: absolute;
      bottom: 30px;
      line-height: 30px;
      /* z-index: 1; */
      color: white;
      background-color: transparent;
      font-size: small;
    }
    .indplantdiv {
    position: relative;
    width: 22%;
    background-image: linear-gradient(
        to bottom,
        rgb(24, 22, 22),
        rgb(29, 29, 28)
    );
    }
    
    .indplantdiv > img {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    }
    
    .indplantdiv > .leftinner {
      position: absolute;
      bottom: 30px;
      line-height: 30px;
      /* z-index: 1; */
      color: white;
      background-color: transparent;
      font-size: small;
    }
    .indproductdiv {
    position: relative;
    width: 22%;
    background-image: linear-gradient(
        to bottom,
        rgb(24, 22, 22),
        rgb(29, 29, 28)
    );
    }
    
    .indproductdiv > img {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    }
    
    .indproductdiv > .leftinner {
      position: absolute;
      bottom: 30px;
      line-height: 30px;
      /* z-index: 1; */
      color: white;
      background-color: transparent;
      font-size: small;
    }
    .electronicdiv {
    position: relative;
    width: 22%;
    background-image: linear-gradient(
        to bottom,
        rgb(24, 22, 22),
        rgb(29, 29, 28)
    );
    }
    
    .electronicdiv > img {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    }
    
    .electronicdiv > .leftinner {
      position: absolute;
      bottom: 30px;
      line-height: 30px;
      /* z-index: 1; */
      color: white;
      background-color: transparent;
      font-size: small;
    }
    .buildingdiv {
    position: relative;
    width: 22%;
    background-image: linear-gradient(
        to bottom,
        rgb(24, 22, 22),
        rgb(29, 29, 28)
    );
    }
    
    .buildingdiv > img {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    }
    
    .buildingdiv > .leftinner {
    position: absolute;
    bottom: 30px;
    line-height: 30px;
    /* z-index: 1; */
    color: white;
    background-color: transparent;
    font-size: small;
    }
  /* <!-- ------------------------------------------------------------------------Main Body Ends----------------------------------------------------- --> */
  /* --------------------------------------------sellers file------------------------------------------ */
  #shivani {
    width: 90%;
    margin:20px auto;
  }
  #shivani > div > h1 {
    color: rgb(0,0,0);
    margin: 50px 12px 10px;
  }
  #shivani > #outerbox{
    display:flex;
    /* align-items: center; */
    background-color: white;
    height: 270px;
  }
  #outerbox>.innerbox{
    /* border: 1px solid black; */
    border-right: 1px solid rgb(140, 137, 137);
    height: 220px;
    text-align: center;
    width: 400px;
    margin: 10px;
    padding: 0 10px;
    /* border: 1px solid black; */
  }
  #outerbox>.innerbox:last-child{
    border-right: 0;
  }
  #outerbox>.innerbox>div>h5{
    color: rgb(51,51,51);
    font-size: 17px;
    margin-bottom: 15px;
    font-weight: bold;
  }
  #outerbox>.innerbox>div>p{
    color: rgb(0,0,0);
    margin-top: 5px;
    font-size: 17px;
  }
  #outerbox>.innerbox>.One>i{
    font-size: 50px;
    color:rgb(46,49,146);
    margin-bottom: 20px;
  }
  #outerbox>.innerbox>div>a>button{
    height: 40px;
    width: 160px;
    margin-top: 15px;
    font-size:15px;
    border-radius: 20px;
    border: 1px solid rgb(46,49,146) ;
    color: rgb(46,49,146);
  }
  #outerbox>.innerbox>div>a>button:hover{
    background-color: rgb(46,49,146);
    color: white;
  }
  
  
  /* -------------------------------------------logo section start ------------------------------------------- */
  #one > h1{
    background-color: rgb(243,243,243);
    margin: 50px 0px 0;
  }
  #one > #logo{
    width: 90%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    margin: 20px auto;
    padding-top: 20px;
  }
  #one > #logo>div{
  background-color: white;
  width: 200px;
  margin:0px 5px;
  height: 85px;
  /* border: 1px solid red; */
  overflow: hidden;
  }
  #one > h1{
  margin-left:80px;
  color: black;
  }
  /* #one > #logo > div > a >img {
    border: 1px solid rgb(19, 1, 1);
  } */
  #one > #logo>div:hover{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  /* <!-- -------------------------------------Bottom Feedback form start------------------------------------- --> */
  
  #Bfeedback {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 350px;
    width: 55%;
    border-radius: 5px;
    margin: 50px 200px;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-areas:"a a a a a a a a a a b b"
                        "c c c c c d d d d d d d"
                        "e e e e e f f f f f f f"
                        "g g g g g g g g h h h h";
  }
  #Bfeedback >.BfeedbackBox1{
    grid-area: a;
    /* border:1px solid red; */
    margin:0px 0px 0px 20px;
  }
  #Bfeedback >.BfeedbackBox1 >h2 {
    color: rgb(94, 94, 211);
    font-weight: 50;
  }
  #Bfeedback >.BfeedbackBox2{
    grid-area: b;
    margin:22px 0px 0px -10px;
  }
  #Bfeedback >.BfeedbackBox2 > i {
    color:green;
    font-size: small;
  }
  #Bfeedback >.BfeedbackBox2 > select {
    border: 0;
    font-size: large;
  }
  #Bfeedback >.BfeedbackBox3{
    grid-area: c;
    margin:-10px 25px;
  }
  #Bfeedback >.BfeedbackBox3 > h4 {
    font-weight: 100;
  }
  #Bfeedback >.BfeedbackBox4{
    grid-area: d;
    margin:0px 0px 0px 20px;
  }
  #Bfeedback >.BfeedbackBox4 > input {
    width: 400px;
    height: 30px;
    padding: 2px;
    font-size: large;
  }
  #Bfeedback >.BfeedbackBox5{
    grid-area: e;
    margin:10px 25px;
  }
  #Bfeedback >.BfeedbackBox6{
    grid-area: f;
    margin:-10px 0px -100px 20px;
  }
  #Bfeedback >.BfeedbackBox5 > h4 {
    font-weight: 100;
  }
  #Bfeedback >.BfeedbackBox6 > textarea {
    width: 400px;
    padding: 2px;
    font-size:large;
  }
  #Bfeedback >.BfeedbackBox7{
    grid-area: g;
    margin:5px 0px -20px 20px;
  }
  #Bfeedback >.BfeedbackBox8{
    grid-area: h;
    margin:-20px 0px 0px 0px;
  }
  #Bfeedback >.BfeedbackBox8 > button {
    background-color: rgb(0,166,154);
    border: 0;
    color: white;
    padding: 0 5px;
    height: 45px;
    font-size:large;
    margin:10px 0px 0px 0px;
    width: 180px;
  }
  
  /* --------------------------------------footer start--------------------------------------------- */
  
  #footer> .nav{
    display: flex;
    background-color: rgb(238,238,238);
    border: 1px solid white;
    color: rgb(34, 34, 34);
    height: 50px;
    justify-content: space-around;
    align-items: center;
  }
  #footer > .nav > div {
  
    display: flex;
    width: 30%;
    margin: 0px 0px 0px 10px;
  }
  #footer > .nav >div >h1{
    color: rgb(94, 94, 211);
    font-weight: 50;
    margin-left: 50px;
  }
  #footer > .nav >div > h5 {
    margin: 4px 10px;
    font-weight: 100;
  }
  #footer > .nav >div :nth-child(2) {
    font-size: 25px;
    margin: 0 3px;
    color: black;
  }
  #footer > .nav >div :nth-child(3) {
    font-size: 25px;
    margin: 0 3px;
    color: black;
  }
  #footer > .nav >div :nth-child(4) {
    font-size: 25px;
    margin: 0 3px;
    color: black;
  }
  #footer > .nav >div :nth-child(6) {
    font-size: 25px;
    margin: 0 3px;
    color: rgb(59,89,152);
  }
  #footer > .nav >div :nth-child(7) {
    font-size: 25px;
    margin: 0 3px;
    color: rgb(85,172,238);
  }
  #footer > .nav >div :nth-child(8) {
    font-size: 25px;
    margin: 0 3px;
    color: rgb(0,122,185);
  }
  #footer > .nav >div :nth-child(2):hover {
    color: rgb(94, 92, 92);
    transition: all;
  }
  #footer > .nav >div :nth-child(3):hover {
    color: rgb(94, 92, 92);
  }
  #footer > .nav >div :nth-child(4):hover {
    color: rgb(94, 92, 92);
  }
  #footer > .nav >div :nth-child(6):hover {
    font-size: 25px;
    margin: 0 3px;
    color: rgb(94, 92, 92);
  }
  #footer > .nav >div :nth-child(7):hover {
    color: rgb(94, 92, 92);
  }
  #footer > .nav >div :nth-child(8):hover {
    color: rgb(94, 92, 92);
  }
  
  
  #footer > #lastfooter{
    background-color:white;
    display:flex;
    position: absolute;
    left: 200px;
    margin: 0px;
    color: rgb(101, 105, 106);
    }
    #footer > #lastfooter > ul {
      list-style-type: none;
      line-height: 25px;
      cursor: pointer;
  
    }
    #footer> #lastfooter>.main>li:hover{
      color: blue;
    }
    #footer> #lastfooter>.first{
      margin: 0 0 0 80px;
    }
    #footer> #lastfooter>.first>li:hover{
      color: blue;
    }
    #footer> #lastfooter>.second{
      margin: 0 0 0 80px;
    }
    #footer> #lastfooter>.second>li:hover{
      color: blue;
    }
    #footer> #lastfooter>.third{
      margin: 0 0 0 80px;
    }
    #footer> #lastfooter>.third>li:hover{
      color: blue;
    }
    #footer>#lastfooter> .fourth{
      margin: 0 0 0 80px;
    }
    #footer> #lastfooter>.fourth>li:hover{
      color: blue;
    }
    #footer> #lastfooter>.fourth>p{
      color:rgb(43, 42, 42);
      font-size:22px;
      cursor: text;
    }
    #footer> #lastfooter>.third>p,.second>p{
      color:rgb(43, 42, 42);
      font-size:22px;
    }
    #footer> #lastfooter>.third>p:hover,.second>p:hover{
      color: rgb(112, 112, 217);
    }
  #footer> #endpage {
    height: 50px;
    width: 100%;
    margin-top: 160px;
  }
  #footer> #endpage > div>ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    color: rgb(101, 105, 106);
    font-size: small;
  }
  