
/* -----------------------------nav start----------------------------------------- */
#nav{
  height:60px;
  width:100%;
  background-color:rgb(46,49,146) ;
  display: flex;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  }
  #nav > #div1{
  width:70%;
  height:80%;
  margin: 5px;
  display: flex;
  }
  #nav > #div2{
  width:30%;
  height:80%;
  margin: 5px;
  display: grid;
  grid-template-columns: 25% 15% 15% 20% 20%;
  grid-template-rows: 1fr;
  grid-gap: 3px;
  }
  #nav > #div2>div{
  display: block;
  text-align: center;
  }
  #nav > #div1 > .search{
  width:80%;
  height:95%;
  display:flex;
  align-items: center;
  justify-content: center;
  }
  #nav > #div1>.search>div{
  height: 75%;
  width:80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:5px 15px;
  }
  #nav > #div1>.search>div>input{
  width:60%;
  height:100%;
  border:0;
  }
  #nav > #div1>.search>.sbar>#loc>button {
      height: 36px;
  }
  #nav > #div1>.search>div>input:focus{
      outline: none;
  }
  #nav > #div1>.search>div>button>i{
  margin-left:0px;
  
  }
  dropdown
  .search>div>button{
  height:100%;
  font-weight: bold;
  width:20%;
  text-align: center;
  border:0px;
  background-color: white;
  justify-content: space-around;
  }
  .h_logo>a>div{
  height:100%;
  margin: -5px -50px 0px 10px;
  transform: scale(.7);
  overflow: hidden;
  width: 220px;
  }
  #div2>div:hover>a>i{
  color:white;
  }
  
  #div2>div>a>i{
  color:rgb(192, 188, 188);
  }
  .navmenu{
  color:white;
  margin:auto;
  font-size: small;
  margin-top: 8px;
  position:relative;
  }
  .navmenu1{
  color:white;
  margin:auto;
  font-size: small;
  margin-top: 8px;
  }
  .navmenu2{
  color:white;
  margin:auto;
  font-size: small;
  margin-top: 8px;
  position:relative;
  }
  .navmenu3{
  color:white;
  margin:auto;
  font-size: small;
  margin-top: 8px;
  }
  #optSign{
  color:white;
  background-color:rgb(46,49,146) ;
  border:0px;
  margin-top: 5px;
  }
  #div1>.h_logo>img{
  width:100%;
  }
  #gsear{
  background-color:rgb(0,166,153) ;
  color:white;
  font-size:medium;
  font-weight: lighter;
  width:15%;
  height: 100%;
  border:0px;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  }
  #gsear>i{
  color:rgb(240, 232, 232);
  }
  #gsear:hover{
  background-color:rgb(54, 124, 118);
  }
  .search>div>.micro{
  width:40px;
  color:black;
  }
  .micro>i{
  color: blue;
  margin-top: 10px;
  position: relative;
  }
  .micro{
  background-color: white;
  text-align: center;
  position: relative;
  height:100%;
  width: 100%;
  }
  .micro>.down{
  background-color: black;
  color: white;
  width:100px;
  font-size: 15px;
  padding: 5px;
  position:absolute;
  border-radius: 5px;
  margin-top: 35px;
  margin-left: -65px;
  display:none;
  }
  .down>a{
  text-decoration: none;
  color:white;
  }
  .micro:hover .down{
  display: block;
  } 
  .search>.dis{
  border:1px solid white;
  padding:0 1px;
  border-radius: 2px;
  height:70%;
  margin:auto;
  margin-left: 15px;
  background-color: white;
  color:rgb(46,49,146) ;
  font-weight: bolder;
  font-size: 15px;  
  
  }
  .search>.dis a{
  text-decoration:none;
  }
  .dis:hover {
  filter:brightness(150%);
  position: relative;
  }
  #loc{
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  background-color:white;
  border-right: 1px solid gray;
  }
  #loc>button>i{
  padding: 5px;
  color:rgb(184, 178, 178);
  }
  #loc>button{
  background-color: white;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  width:100%;
  height:100%;
  border:0;  
  }
  .drop a{
  text-decoration: none;
  color:black
  }
  .drop{
  margin:10px;
  padding: 10px;
  text-align: left;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: white;
  }
  .drop>table{
    width:100%;
  }
  #dropdown a{
    font-size: small;
  }
  #dropdown tr th{
    font-size: small;
  }
  #dropdown .t1{
    height: 270px;
    width:100%;
  }
  .drop a i{
     color:rgb(185, 185, 185);
     padding-right:5px;
  }
  #dropdown .t2{
    height: 270px;
    width:100%;
  }
  #dropdown .t2 .th2{
    padding-left: 30px;
  }
  #dropdown .t2 .th2 a{
    padding-left: 40px;
  } 
  
  #dropdown{
  border-radius: 5px;
  width:40%;
  background-color: white;
  height:auto;
  margin:auto;
  box-sizing: border-box;
  position: absolute;
  right:100px;
  /* border: 1px solid red; */
  display: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
  .drop a:hover{
  background-color: rgb(223, 219, 219);
  }
  .add{
  text-decoration: underline;
  font-weight: bold;
  }
   #dropdown .add1 a {
    text-decoration: underline;
    font-weight: bold;
    padding-left: 70px;
    }
  .foot{
  width:100%;
  height: 60px;
  /* text-align: center; */
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(235, 229, 229);
  /* border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; */
  }
  .foot>a>i{
  color:skyblue;
  margin-top: 20px;
  }
  .foot>h3{
    margin-top: 20px;
  }
  .foot>a>i:hover{
  background-color: skyblue;
  color:white;
  }
  .dropdown>.drop>table{
  margin:auto;
  width:90%;
  text-align: justify;
  }
  .menu1:hover #dropdown{
  opacity: 1;
  display:block;
  }
  .help{
  border:1px;
  width:250px;
  font-size: small;
  height: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 5px;
  padding: 3px;
  background-color: white;
  text-align: justify;
  display: none;
  margin-left: -150px;
  }
  .help p:hover{
  background-color:rgb(231, 231, 231);
  }
  .help>div{
  display: flex;
  margin-left: -8px;
  /* margin-top: -20px;
  margin-bottom: -20px; */
  justify-content: space-around;
  }
  .help p a{
    text-decoration: none;
    color:black;
    font-weight: bold;
  }
  .help p a {
    text-align: center;
  }
  .help>p{
  margin-left: 10px;
  margin-top: 10px;
  }
  .help>h4{
  margin-left: 30px;
  }
  .help>.helphead{
  font-size: small;
  color:grey;
  margin-top:10px;
  }
  .help p i{
  padding:5px;
  color:grey;
  }
  .menu2:hover .help{
  display: block;
  }
 
  .signPop{
  width:250px;
  height: 440px;
  font-size: small;
  border-radius: 5px;
  background-color: white;
  margin-left: -160px;
  margin-top: -20px;
  display: none;
  text-align: justify;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
  .signPop .sig1{
    display: grid;
    grid-gap: 15px;
    padding-bottom: 29px;
    grid-template-columns: 1fr;
    grid-template-rows: 35% 25% 30%;
    justify-content: space-between;
  }
  .signPop .sig1 div{
  }
  .signPop .sig1 p{
    font-size: medium;
  }
  .signPop .sig1 .ico{
    display: flex;
  }
  .signPop .sig1 .ico i{
    color: rgb(83, 207, 83);
    font-size:medium;
    padding-left: 10px;
  }
  .signPop .sig1 a{
    text-decoration: none;
  }
  .signPop .sig1 a:hover{
    text-decoration: underline;
  }
  
  .signPop>div{
  margin-left: 25px;
  margin-top: 30px;
  }
  .signPop div .profile a i{
  padding-right: 10px;
  color:grey;
  }
  .signPop .profile{
    margin-top: 0px;
    padding-bottom: 5px;
  }
  .signPop .profile a{
    margin-left: -15px;
  }
  .signPop .profile1 {
    height:60px;
    margin:auto;
    padding-top: 5px;
    text-align: centre;
  }
  .signPop .profile1 a{
    margin-left: 10px;
  }
  .signPop .profile1 a i{
    margin-top: 15px;
    color:grey;
  }
  .signPop>div:nth-child(1){
    padding-top: 10px;
    height:40px;
    text-align: center;
    font-size: small;
  }
  .signPop i{
    padding-right: 5px;
  }
  .signPop>div:nth-child(1)>div{
    width:fit-content;
    font-size: x-small;
    margin-bottom: 0;
  }
  .signPop .las{
    margin:auto;
    text-align: center;
    margin-top: 20px;
  }
  .signPop .profile i{
    padding-top: 20px;
    color:rgb(168, 168, 168)
  }

  .signPop>div>p>a{
  text-decoration: none;
  color:black;
  }
  .signPop>div>.p1,.p2{
  font-size:x-small;
  }
  
  .signPop>div>p:hover{
  background-color: rgb(204, 203, 203);
  }
  .menu3:hover .signPop{
  display: block;
  }
  .btnInpt{
  width:fit-content;
  padding:5px;
  border-radius: 5px;
  display:none;
  background-color: white;
  }
  .sbar:hover .btnInpt{
  display: block;
  }

/* -------------------------------------------------------body----------------------------------------- */

#grandfather>#father{
    display: flex;
    margin-top: 80px;
    /* border: 1px solid black; */
}
#grandfather>#father >div{
    /* border: 1px solid black; */
    height: 250px;

    
}
#father >div:nth-child(1){
    /* flex-grow: 1; */
    width: 30%;
}

#father >div:nth-child(2){
    /* flex-grow: 3; */
    width: 40%;
} 
#father >div:nth-child(3){
    /* flex-grow: 1; */
    width: 30%;
}
.child1{
    display: flex;
    margin-left: 20px;
}
.child1>div{
    width: 30%;
    /* border: 1px solid blue; */
    height: 180px;
    margin: 0px 10px 0px 10px;
    text-align: center;
    line-height: 15px;
    
}
.childn{
    width: 100%;
    
    text-align: center;
    background-color: rgb(238,238,238);

}
.childn>div{
    margin: 20px 0px 10px 0px;
}
#father2{
    display: flex;
    width: 100%;
    height: 250px;
    margin-top: 40px;

    
}

        #father2>div:nth-child(1){
            width: 40%;
        }
        #father2>div:nth-child(2){
            width: 60%;
        }
        .child2{
            display: flex;
            height: 70px;
            background-color: rgb(245,244,244);
            margin-right: 20px;
            

        }
        .child2>div{
            margin-left: 20px;
        }
.child2>div:nth-child(1){
    width:40px;

}
.child2>div:nth-child(2){
    line-height: 1px;

}
.child2>div>img{
    width: 100%;
    
}
.child3{
    display: flex;
    text-align: center;
    padding: 10px;
    background-color: rgb(238,238,238);
    height: 200px;
}

/* --------------------------------------footer start--------------------------------------------- */

#footer> .nav{
margin-top: 100px;
display: flex;
background-color: rgb(238,238,238);
border: 1px solid white;
color: rgb(34, 34, 34);
height: 50px;
justify-content: space-around;
align-items: center;
}
#footer > .nav > div {

display: flex;
width: 30%;
margin: 0px 0px 0px 10px;
}
#footer > .nav >div >h1{
color: rgb(94, 94, 211);
font-weight: 50;
margin-left: 50px;
}
#footer > .nav >div > h5 {
margin: 4px 10px;
font-weight: 100;
}
#footer > .nav >div :nth-child(2) {
font-size: 25px;
margin: 0 3px;
color: black;
}
#footer > .nav >div :nth-child(3) {
font-size: 25px;
margin: 0 3px;
color: black;
}
#footer > .nav >div :nth-child(4) {
font-size: 25px;
margin: 0 3px;
color: black;
}
#footer > .nav >div :nth-child(6) {
font-size: 25px;
margin: 0 3px;
color: rgb(59,89,152);
}
#footer > .nav >div :nth-child(7) {
font-size: 25px;
margin: 0 3px;
color: rgb(85,172,238);
}
#footer > .nav >div :nth-child(8) {
font-size: 25px;
margin: 0 3px;
color: rgb(0,122,185);
}
#footer > .nav >div :nth-child(2):hover {
color: rgb(94, 92, 92);
transition: all;
}
#footer > .nav >div :nth-child(3):hover {
color: rgb(94, 92, 92);
}
#footer > .nav >div :nth-child(4):hover {
color: rgb(94, 92, 92);
}
#footer > .nav >div :nth-child(6):hover {
font-size: 25px;
margin: 0 3px;
color: rgb(94, 92, 92);
}
#footer > .nav >div :nth-child(7):hover {
color: rgb(94, 92, 92);
}
#footer > .nav >div :nth-child(8):hover {
color: rgb(94, 92, 92);
}


#footer > #lastfooter{
display:flex;
position: absolute;
left: 180px;
margin: 20px 0 0 0;
color: rgb(101, 105, 106);
}
#footer > #lastfooter > ul {
    list-style-type: none;
    cursor: pointer;
}
#footer> #lastfooter>.main>li:hover{
    color: blue;
}
#footer> #lastfooter>.first{
    margin: 17px 0 0 40px;
}
#footer> #lastfooter>.first>li:hover{
    color: blue;
}
#footer> #lastfooter>.second{
    margin: -8px 0 0 40px;
}
#footer> #lastfooter>.second>li:hover{
    color: blue;
}
#footer> #lastfooter>.third{
    margin: -10px 0 0 40px;
}
#footer> #lastfooter>.third>li:hover{
    color: blue;
}
#footer>#lastfooter> .fourth{
    margin: -10px 0 0 40px;
}
#footer> #lastfooter>.fourth>li:hover{
    color: blue;
}
#footer> #lastfooter>.fourth>p{
    color:rgb(43, 42, 42);
    font-size:22px;
    cursor: text;
}
#footer> #lastfooter>.third>p,.second>p{
    color:rgb(43, 42, 42);
    font-size:22px;
}
#footer> #lastfooter>.third>p:hover,.second>p:hover{
    color: rgb(112, 112, 217);
}
#footer> #endpage {
height: 50px;
width: 100%;
margin-top: 160px;
}
#footer> #endpage > div>ul {
display: flex;
margin-left: -30px;
justify-content: space-around;
list-style-type: none;
color: rgb(101, 105, 106);
font-size: small;
}
